html {
  background-color: lightpink;
  font-size: 20px;
  font-family: Bitcount Grid Double;
}

body {
  width: 600px;
  margin: 0 auto;
  background-color: transparent;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

h1 {
  font-size: 60px;
  text-align: center;
}

p,
li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}

img {
  width: 600px;
}
/* One thing you will notice as you use CSS more is that CSS is all about boxes, Most HTML elements on a page can be thought of as boxes that sit on top of or alongside other boxes. You can set values on these boxes for size, color, positioning, etc. This is referred to as the box model. So there is the main text in the center then padding, then a border then more padding and a margin. 
Each box that takes up space on your page has properties like: 
Padding: the space around the content. In the previous example, it is the space around the paragraph text.
Border: the solid line just outside the padding.
Margin: the space outside the border
In this section, we also use the following properties, some of which you've seen before:
1. width: the width of an element
2. background-color: the color behind an element's content and padding.
3. color: the color of an elements content(usually text)
4. text-shadow: a drop shadow on the text inside an element
5. display: the display mode of an element (which basically refers to how it appears or is laid out on the web page).

.... */
